{{#if isCompleted}}

    <a class="card-completed" href="/tasks/{{_id}}/details">
        <div>{{hourCreated}} на {{dateCreated}}</div>
        <div>{{content}}</div>
        <i class="fas fa-check-circle"></i>
    </a>

{{else}}

    <a class="card" href="/tasks/{{_id}}/details">
        <div>{{hourCreated}} на {{dateCreated}}</div>
        <div>{{content}}</div>
        <i class="fas fa-ellipsis-h"></i>
    </a>
        
{{/if}}