<h4>Създадена на <strong>{{formatedTask.dateCreated}}, {{formatedTask.hourCreated}}</strong> от {{formatedTask.userCreated}}</h4>

<div class="task-info">
    {{formatedTask.content}}
</div>

<div class="task-actions">

    <a href="/{{task._id}}/delete" onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');">
        <i class='fas fa-trash-alt'>
            <p>Изтрий задачата</p>
        </i></a>

    <h4 class="task-completed">
        Завършена на <strong>{{formatedTask.dateCompleted}}, {{formatedTask.hourCompleted}}</strong> от {{formatedTask.userCompleted}}
    </h4>
        
</div>