{{#if isCompleted}}

    <a class="card-completed" href="/{{_id}}/details">
        <div>25 септ 16:00</div>
        <div>{{content}}</div>
        <div>завършена</div>
    </a>

{{else}}

    <a class="card" href="/{{_id}}/details">
        <div>25 септ 16:00</div>
        <div>{{content}}</div>
        <div>завърши</div>
    </a>
        
{{/if}}