{{#if isCompleted}}

    <a class="card-completed" href="/{{_id}}/details">
        <div>{{date}} {{hour}}</div>
        <div>{{content}}</div>
        <i class="fas fa-check-circle"></i>
    </a>

{{else}}

    <a class="card" href="/{{_id}}/details">
        <div>25 септ 16:00</div>
        <div>{{content}}</div>
        <i class="fas fa-ellipsis-h"></i>
    </a>
        
{{/if}}