{{#if isCompleted}}

    <a class="card-small completed" href="/tasks/{{_id}}/details">
        <li class="completed--inner">{{dateCreated}} / {{hourCreated}}</li>
        <li class="completed--inner">{{content}}</li>
        <i class="fas fa-check"></i>
    </a>

{{else}}

    <a class="card-small todo" href="/tasks/{{_id}}/details">
        <li class="todo--inner">{{dateCreated}} / {{hourCreated}}</li>
        <li class="todo--inner">{{content}}</li>
        <i class="fas fa-ellipsis-h"></i>
    </a>
        
{{/if}}