<h4>Създадена на <strong>{{task.dateCreated}}, {{task.hourCreated}}</strong> от {{task.userCreated}}</h4>

<div class="task-info">
    {{task.content}}
</div>

<div class="task-actions">

    <a href="/{{task._id}}/delete" onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');">
        <i class='fas fa-trash-alt'>
            <p>Изтрий задачата</p>
        </i></a>

    <h4 class="task-completed">
        Завършена на <strong>{{task.dateCompleted}}, {{task.hourCompleted}}</strong> от {{task.userCompleted}}
    </h4>
        
</div>