<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!--
    <link href="/static/css/site.css" type="text/css" rel="stylesheet"> --}}
    <link href="/static/css/site-ittscc.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin='anonymous'></script>
    {{!-- <script src="/public/fontawesome-free-5.15.4-web/css/all.css" crossorigin='anonymous'></script> --}}
    <link href="/static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
    {{!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
</head>

<body>
    <div class="container">

        {{#if user}}

        <header>
            {{!-- <a class="home" href="/tasks/to-do"><i class='fas fa-home' style='font-size:24px'></i></a> --}}

            <button class="menu" onclick="showMenu()">
                <i class="fas fa-bars"></i>
                <div class="dropdown-content">
                    <h4>Здравей, {{user.username}}!</h4>
                    <hr>
                    <a href="/tasks/create">Създай нова задача</a>
                    <hr>
                    <a href="/tasks/to-do">Задачи за изпълнение</a>
                    <a href="/tasks/all">Всички задачи</a>
                    <a href="/tasks/archive">Завършени задачи</a>
                    <a href="/tasks/my-tasks">Моите задачи</a>
                    <hr>
                    <a href="/auth/logout">Изход от профила</a>
                </div>
            </button>

            <h1>Офис помощник</h1>

            <button class="menu" onclick="showSearch()">
                <i class="fas fa-search"></i>
            </button>

            <a class="menu" href="/tasks/create">
                <i class="fas fa-plus"></i>
            </a>

        </header>

        {{else}}

        {{guestPage}}

        {{/if}}

        <main>

            {{>search}}

            {{#if error}}
                <p class="error">{{error.message}}</p>
            {{/if}}

            {{{body}}}

        </main>

        <footer>© 2021 Mgl</footer>

    </div>

    {{!-- <script type="text/javascript">
        function confirmDelete() {
            event.preventDefault();
            Swal.fire({
                title: 'Сигурен ли си, че искаш да изтриеш задачата',
                showCancelButton: true,
                confirmButtonColor: 'var(--red)',
                cancelButtonColor: 'var(--deep)',
                confirmButtonText: 'Изтрий!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire('Задачата е изтрита')
                }
            })
        }
    </script> --}}

    <script>
        function showMenu() {
            let menu = document.querySelector('.dropdown-content');
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        }
        function showSearch() {
            let search = document.querySelector('.search');
            if (search.style.display === "block") {
                search.style.display = "none";
            } else {
                search.style.display = "block";
            }
        }
        function hideSearch() {
            let search = document.querySelector('.search');
            search.style.display = "none";
        }
    </script>

</body>

</html>