<section>

    <div class="card-big">

        <p class="card-big__info">Създадена 
            <BR>на {{task.dateCreated}} в {{task.hourCreated}} 
            <br>от {{task.userCreated}}</p>

        <p class="card-big__content">{{task.content}}</p>

        <button class="card-big__action red">
            <a href="/tasks/{{task._id}}/delete"></a>
            {{!-- onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');"> --}}
            <i class="fas fa-trash"></i>
            <span>Изтрий</span>
        </button>
        
        
        {{#if task.completor}}

            <p class="card-big__completed">Завършена 
                <br>на {{task.dateCompleted}} в {{task.hourCompleted}}
                <BR>от {{task.userCompleted}}</p>

        {{else}}
            
            <button class="card-big__action green"
                <a href="/tasks/{{task._id}}/complete"></a>
                {{!-- onclick="return confirm('Сигурен ли си, че искаш да завършиш тази задача?');"> --}}
                <i class="fas fa-check"></i>
                <span>Завърши</span>
            </button>

        {{/if}}

    </div>

</section>