<section>
    <div class="card">

        <a class="card__back"
            href="#">
            <i class="fas fa-arrow-left"></i>
        </a>

        <p class="card__info">
            {{task.dateCreated}}, {{task.hourCreated}} 
            <br>{{task.userCreated}}
        </p>

        <div class="card__content">{{task.content}}</div>

        <button class="card__delete">
            <a href="/tasks/{{task._id}}/delete"></a>
            {{!-- onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');"> --}}
            <i class="fas fa-trash"></i>
            <span>Изтрий</span>
        </button>
        
        {{#if task.completor}}

            <p class="card__completed">Завършена на 
                <br>{{task.dateCompleted}} в {{task.hourCompleted}}
                <BR>от {{task.userCompleted}}
            </p>

        {{else}}
            
            <button class="card__complete"
                <a href="/tasks/{{task._id}}/complete"></a>
                {{!-- onclick="return confirm('Сигурен ли си, че искаш да завършиш тази задача?');"> --}}
                <i class="fas fa-check"></i>
                <span>Завърши</span>
            </button>

        {{/if}}

        </div> 
    </div>
</section>