<section>
    <div class="card">

        {{>back-btn}}

        <p class="card__info">
            {{task.dateCreated}}, {{task.hourCreated}} 
            <br>{{task.userCreated}}
        </p>

        <p class="card__content">{{task.content}}</p>

        <a
            class="action-btn action-btn__red"
            type="submit"
            onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');"
            href="/tasks/{{task._id}}/delete">
            <i class="fas fa-trash"></i>
            <span>Изтрий</span>
        </a>
        
        {{#if task.completor}}

            <p class="card__completed">Завършена на 
                <br>{{task.dateCompleted}} в {{task.hourCompleted}}
                <BR>от {{task.userCompleted}}
            </p>

        {{else}}
            
            <a 
                class="action-btn action-btn__green"
                onclick="return confirm('Сигурен ли си, че искаш да завършиш тази задача?');"
                href="/tasks/{{task._id}}/complete">
                <i class="fas fa-check"></i>
                <span>Завърши</span>
            </a>

        {{/if}}

        </div> 
    </div>
</section>