<section>
    <div class="card">

        <a class="card__back"
            href="#">
            <i class="fas fa-arrow-left"></i>
        </a>

        <p class="card__info">
            {{task.dateCreated}}, {{task.hourCreated}} 
            <br>{{task.userCreated}}
        </p>

        <div class="card__content">{{task.content}}</div>

        <a class="card__delete"
            onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');"
            {{!-- onclick="confirmDelete()" --}}
            href="/tasks/{{task._id}}/delete">
            <i class="fas fa-trash"></i>
            <span>Изтрий</span>
        </a>
        
        {{#if task.completor}}

            <p class="card__completed">Завършена на 
                <br>{{task.dateCompleted}} в {{task.hourCompleted}}
                <BR>от {{task.userCompleted}}
            </p>

        {{else}}
            
            <a class="card__complete"
                href="/tasks/{{task._id}}/complete"
                onclick="return confirm('Сигурен ли си, че искаш да завършиш тази задача?');">
                <i class="fas fa-check"></i>
                <span>Завърши</span>
            </a>

        {{/if}}

        </div> 
    </div>
</section>